---
---

@import "{{ site.theme }}";

body {
  font-family: "Helvetica Neue", "Noto Sans KR", serif;
}

small {
  color: #999;
}

#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
  font-family: "Architects Daughter", "Gamja Flower", cursive;
}
